.button {
    box-shadow: 2px 2px 2px #888888;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;

    &.save-grid {
      background: green url('/assets/images/ico_save.svg') no-repeat center;
      background-size: 35px;
    }

    &.edit {
      background: yellow url('/assets/images/ico_edit.svg') no-repeat center;
      background-size: 35px;
    }
}